* {
    box-sizing: border-box;
}

body {
    padding: 30px 40px;
    font-family: sans-serif;
    background: #ffffff;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1 {
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
}

.results {
    display: flex;
    flex-wrap: wrap;
}

.result {
    color:white;
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 300px;
    background: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2rem;
}

.characters-details {
    max-width: 700px;
}

.result2 {
    align-items: center;
    color:rgb(230, 212, 212);
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 700px;
    height: 30rem;
    background: rgb(109, 104, 104);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2rem;
}


.success {
    border: 1px solid green;
    padding: 1rem;
    color: green;
    background: rgba(0, 255, 0, 0.1);
}

.error {
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(192, 54, 54);
}

.image {
    height: 150px;
    background-size: cover;
    background-position: center top;
}




.container {
    max-width: 760px;
    margin: 0 auto;
}

form {
    padding: 2em;
    background: white;
    border-radius: 1rem;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button {
    background: rgb(8, 123, 185);
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
}

label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: red;
    font-size: 1rem;
    margin-top: 2px;
}

